<form action="/">
    <h1>Search for GIFS</h1>
    <div className="form-group">
        <input type="text" name="term">
        <button type="submit">Search</button>
    </div>
</form>

<div class="gif-container">
    {{#each gifs}}
    {{!-- set the data-width to whatever you want --}}
    {{!-- Note that we're using properties of the gif (id, itemurl, url) to fill in information needed to render the gif --}}
        <div class="column">
            <h2>{{@index}}</h2>
            <div
                class="tenor-gif-embed"
                data-postid="{{this.id}}"
                data-share-method="host"
                data-aspect-ratio="1.2266666666666666">
                <a href="{{this.itemurl}}"></a>
                <a href="{{this.url}}"></a>
            </div>
        </div>
        <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    {{/each}}
</div>
